body{
    bachground-color: #F1ECDF;
}

div{
    background-color: #FEF3E0;
    width: 500px;
    height: 500px;
    margin-left: 225px;
    margin-top: 210px;
    border-radius: 20px;
}

h1.company_name{
    text-align: center;
}
p.cto{
    text-align:center;
}
label.Email_label{
    margin-left: 40px;
}
input.Email_input{
    margin-left: 40px;
    margin-bottom: 30px;
    padding: 10px 180px 15px 20px;
    border-radius: 7px;
}
label.pass_label{
     margin-left: 40px;
}
input.pass_input{
     margin-left: 40px;
    margin-bottom: 30px;
    padding: 10px 180px 15px 20px;
    border-radius: 7px;
}
input.remember_me_input{
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}
label.otp_method_label{
    margin-left: 40px ;
}
button.submit_btn{
    background-color: #3a51cc;
    padding: 10px 165px 15px 165px;
    border-radius: 5px;
    margin-left: 40px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
}
p.demo_text{
    text-align: center;
    color: hsla(0,0%, 0%, 50%);
    font-style: inherit;
}